.content {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.has-side-items {
    width: 65%;
    margin-right: auto;
}

.side-items-container {
    float: right;
    width: 30%;
    margin-left: auto;
}